<div class="container">
  <div class="navone">
    <ul class="nav justify-content-end">
      <li
        class="nav-item"
        style="
          margin: 0 !important;
          padding: 0 !important;
          letter-spacing: 0 !important;
        "
      >
        <a class="nav-link" routerLink="/">Ana Sayfa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/new-word">Kelime Öğren</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/find-typo">Hata Bul</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/quiz">Sınav</a>
      </li>
    </ul>
  </div>
</div>
